.table {
  min-height: 100%;
  padding-bottom: 100px;
}

.btn-dark {
 color: white;
 border: 0;
 font-weight: bold;
 padding: 5px

}

.sort-by {
	border: 4px red;
	content: "";
	display: block;
	height: 5;
	right: 5px;
	top: 50%;
	position: absolute;
	width: 5;
}